* {
    font-family: 'Roboto', sans-serif;
}


/*bootstrap overrides*/

.col-xs-2 {
    padding-left: 3px;
    padding-right: 3px;
}

.form-control {
    padding-top: 3px;
    padding-bottom: 3px;
}


/* style header so its visually separated from header */

.list-entry-header {
    font-weight: bold;
}

.error {
    color: red;
}


/* toggle to show/hide elements */

.hidden {
    display: none;
}


/* Desktop Styles */

@media all and (min-width: 800px) {}