* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: gotham-medium;
    color: #002157;
}

img {
    height: 80px;
}

.container {
    display: flex;
    /* or inline-flex */
}

input {
    margin: 5px;
}

input[type="text" i] {
    height: 22px;
    width: 210px;
}

select {
    height: 26px;
    width: 210px;
}

.button {
    background-color: #002157;
    border: none;
    color: white;
    padding: 9px 27px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-secondary {
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 19px;
    Color: white !important;
    text-transform: uppercase;
    border: 1px solid #a79344;
    background: #a79344;
    font-size: 14px;
    color: #fff;
}


/* style header so its visually separated from header */

.list-entry-header {
    font-weight: bold;
}

.error {
    color: red;
}


/* toggle to show/hide elements */

.hidden {
    display: none;
}

.title-text {
    padding-top: 23px;
    padding-left: 20px;
    font-size: 28px;
}


/* Mobile Styles */

h1 {
    font-size: 23px;
    color: #002157;
}

h2 {
    font-size: 17px;
}


/* Desktop Styles */

@media all and (min-width: 800px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
}